{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-10">
	<div class="row">
		<h2>Expenses list</h2>

		<div class="col-md-9">
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'expenses.index' %}">Expenses</a></li>
				<li class="breadcrumb-item"><a href="{% url 'expenses.create' %}">Add Expense
					</a></li>
				<li class="breadcrumb-item"><a href="{% url 'expenses.create-form' %}">Add Expense - DJ Form
					</a></li>
			</ol>
			</nav>

		</div>
		<div class="col-md-3">
			<a href="{% url 'expenses.create' %}" class='btn btn-primary'>Add Expense</a>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">

			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" placeholder="Search" id="searchField">
			</div>
		</div>
	</div>

	<div class="table-responsive mt-4">
		
	<table class="table table-hover">
	  	<thead class="thead-dark">
			<tr>
				<th scope="col">Owner</th>
				<th scope="col">Value</th>
				<th scope="col">Expense Date</th>
				<th scope="col">Category</th>
				<th scope="col">Description</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% comment %} {% for expense in expenses %} {% endcomment %}
			{% for expense in page_obj %}
				<tr>
					<th scope="row">{{ expense.owner }}</td>
					<td>{{ expense.amount }}</td>
					<td>{{ expense.date|date:'d/m/Y' }}</td>
					<td>
						{{ expense.category }}
					</td>
					<td>{{ expense.description }}</td>
					<td><a href="{% url 'expenses.update' expense.id %}" class="btn btn-outline-primary">Edit</a></td>
					<td><a href="{% url 'expenses.archive' expense.id %}" class="btn btn-outline-warning">Archive</a></td>
					<td><a href="{% url 'expenses.delete' expense.id %}" class="btn btn-outline-danger">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
		Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
	</div>

	<ul class="pagination align-right float-right mr-auto">
		{% if page_obj.has_previous  %}
		  <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>

		{% endif %}	
		
		{% if page_obj.has_next  %}
		 <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
		{% endif %}	
	</ul>

	</div>

</div>

{% include 'partials/_messages.html' %}

<script src="js/searchExpenses.js">

</script>

{% endblock content %}

