{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-10">
	<div class="row">
		<h2>Expenses list</h2>

		<-div class="col-md-9">
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'expenses.index'%}">Expenses</a></li>
				<li class="breadcrumb-item active" aria-current="page">Library</li>
			</ol>
			</nav>

		</div>
		<div class="col-md-3">
			<a href="{% url 'expenses.create' %}" class='btn btn-primary'>Add Expense</a>
		</div>
	</div>
	
</div>

{% include 'partials/_messages.html' %}

{% endblock content %}

